@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Settings

<form asp-controller="Settings" asp-action="ChangeDatabse" method="post">
    <select asp-items="Html.GetEnumSelectList<EDatabaseType>()" asp-for="DatabaseType" name="databaseType"></select>
        <button type="submit" >Güncelle</button>
</form>